<h1>Voxeo Transcription Result for <%= @transcription.guid %></h1>
<table border=1>
	<tr>
		<th>ID</th>
		<th>GUID</th>
		<th>Identifier</th>
		<th>Message</th>
	</tr>
	<tr>
		<td><%= @transcription.id %></td>
		<td><%= @transcription.guid %></td>
		<td><%= @transcription.identifier %></td>
		<td><%= @transcription.message %></td>
	</tr>
</table>