<p>Current Time: <%=Time.now.utc%></p>

<%= form_for(@reminder) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :phonenumber %> <br />
    <%= f.text_field :phonenumber %>
  </div>
  <div class="field">
    <%= f.label :appointment %><br />
    <%= f.datetime_select :appointment %> UTC
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
